<form method="post" action="{{ path('abscence_delete', {'id': abscence.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette sanction ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abscence.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
