{% extends 'base.html.twig' %}

{% block title %}Ajout d'une abscence{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Ajout d'une abscence</h1>

    {{ include('abscence/_form.html.twig') }}
</diV>
{% endblock %}
