{% extends 'base.html.twig' %}

{% block title %}Ajout d'une classe{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Ajouter une classe</h1>

    {{ include('group/_form.html.twig') }}
</div>
{% endblock %}
